<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.png"/> Tranquility</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'auth.signup'}}Sign Up{{/link-to}}</li>
        <li>{{#link-to 'auth.login'}}Login{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12 block">
      <div class="row">
        <div class="col-lg-12">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
