<div class="wrapper">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#if isAuthenticated}}
        {{#link-to 'dashboard' class="navbar-brand"}}<img src="../assets/img/logo2.png"/> Tranquility{{/link-to}}
      {{else}}
        {{#link-to 'index' class="navbar-brand"}}<img src="../assets/img/logo2.png"/> Tranquility{{/link-to}}
      {{/if}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          <li><a {{action 'logout'}} href="">Logout</a></li>
        {{else}}
          <li>{{#link-to 'pricing'}}Pricing{{/link-to}}</li>
          <li>{{#link-to 'auth.signup'}}Sign Up{{/link-to}}</li>
          <li>{{#link-to 'auth.login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

{{outlet}}

<div class="push"></div>
</div>
<footer>
  <div class="align-center">&copy; 2013 Tranquility</div>
</footer>