<div class="wrapper">
  	
	<a {{action 'toggleMenu' bubbles=false}}>Menu</a>

	{{#view Tranquility.SideMenuView tagName="nav" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" classBinding="menuToggled:cbp-spmenu-open"}}
		<h3>Menu</h3>
		<a href="#">Celery seakale</a>
		<a href="#">Dulse daikon</a>
		<a href="#">Zucchini garlic</a>
		<a href="#">Catsear azuki bean</a>
		<a href="#">Dandelion bunya</a>
		<a href="#">Rutabaga</a>
	{{/view}}

	<div id="main">
  		{{outlet}}
  	</div>

  <div class="push"></div>
</div>
<footer>
  <div class="align-center">&copy; 2013 Tranquility</div>
</footer>