$defaultColor: #ddd;
$defaultColorText: #333;
$defaultColorLight: lighten($defaultColor, 5%);
$defaultColorLighter: lighten($defaultColor, 10%);
$defaultColorLightest: lighten($defaultColor, 20%);
$defaultColorDark: darken($defaultColor, 5%);
$defaultColorDarker: darken($defaultColor, 10%);
$defaultColorDarkest: darken($defaultColor, 20%);

$primaryColor: #00acec;
$primaryColorText: #fff;
$primaryColorLight: lighten($primaryColor, 5%);
$primaryColorLighter: lighten($primaryColor, 10%);
$primaryColorLightest: lighten($primaryColor, 20%);
$primaryColorDark: darken($primaryColor, 5%);
$primaryColorDarker: darken($primaryColor, 10%);
$primaryColorDarkest: darken($primaryColor, 20%);

$successColor: #49bf67;
$successColorText: #fff;
$successColorLight: lighten($successColor, 5%);
$successColorLighter: lighten($successColor, 10%);
$successColorLightest: lighten($successColor, 20%);
$successColorDark: darken($successColor, 5%);
$successColorDarker: darken($successColor, 10%);
$successColorDarkest: darken($successColor, 40%);

$infoColor: #9564e2;
$infoColorText: #fff;
$infoColorLight: lighten($infoColor, 5%);
$infoColorLighter: lighten($infoColor, 10%);
$infoColorLightest: lighten($infoColor, 20%);
$infoColorDark: darken($infoColor, 5%);
$infoColorDarker: darken($infoColor, 10%);
$infoColorDarkest: darken($infoColor, 40%);

$warningColor: #f8a326;
$warningColorText: #fff;
$warningColorLight: lighten($warningColor, 5%);
$warningColorLighter: lighten($warningColor, 10%);
$warningColorLightest: lighten($warningColor, 20%);
$warningColorDark: darken($warningColor, 5%);
$warningColorDarker: darken($warningColor, 10%);
$warningColorDarkest: darken($warningColor, 40%);

$dangerColor: #ff5454;
$dangerColorText: #fff;
$dangerColorLight: lighten($dangerColor, 5%);
$dangerColorLighter: lighten($dangerColor, 10%);
$dangerColorLightest: lighten($dangerColor, 20%);
$dangerColorDark: darken($dangerColor, 5%);
$dangerColorDarker: darken($dangerColor, 10%);
$dangerColorDarkest: darken($dangerColor, 40%);

$stripeColor: #f3f2ef;
$stripeTextColor: #404040;
$stripeTextHoverColor: lighten(#404040, 30%);
$stripeAccentColor: darken($stripeColor, 20%);

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Freight Sans';
    src: url('fonts/freigsanprobold-webfont.eot');
    src: url('fonts/freigsanprobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprobold-webfont.woff') format('woff'),
         url('fonts/freigsanprobold-webfont.ttf') format('truetype'),
         url('fonts/freigsanprobold-webfont.svg#freightsans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}	

$footerColor: $stripeTextColor;
$footerTextColor: #999;

$headingText: 'Freight Sans', sans-serif;
$bodyText: 'Proxima Nova Light', sans-serif;

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body > .ember-view {
	height: 100%;
	font-family: $bodyText;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
	height: 80px; /* .push must be the same height as .footer */
}

footer {
	background: $footerColor;
	color: $footerTextColor;
	line-height: 80px;
	font-size: 12px;
}

body {
	padding-top: 60px;
	//background: url('../img/squairy_light.png') repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingText;
	margin: 0;
	margin-bottom: 0.5em;

	&>small {
		font-family: $bodyText;
	}
}

p {
	line-height: 1.7;
	font-family: $bodyText;

	&.callout {
		font-size: 16px;
	}
}

#hero {
	background: url('../img/herobg.png') no-repeat 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	height: 400px;
	width: 100%;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;

	h3.page-title {
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.section-header {
		h2 {
			color: $defaultColorDarkest;
			margin-bottom: 0;
		}
	}

	div.page-body {

	}

	&.striped {
		background-color: $stripeColor;
	}

	&.faq {
		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.points {
	.point-block {
		border-right: 1px solid $stripeAccentColor;

		i {
			display: block;
			margin-bottom: 20px;
		}

		h4 {
			margin-bottom: 15px;
		}

		p {
			font-size: 14px;
		}

		&:last-child {
			border-right: none;
		}
	}
}

.panel-pricing {
	text-align: center;
	margin-bottom: 0;

	&.panel-success {
		.icon {
			color: $successColor;
		}

		.panel-body {
			h4 {
				border-bottom: 1px solid $successColor;
			}

			h5 {
				border-top: 1px solid $successColor;
			}
		}
	}

	&.panel-primary {
		.icon {
			color: $primaryColor;
		}

		.panel-body {
			h4 {
				border-bottom: 1px solid $primaryColor;
			}

			h5 {
				border-top: 1px solid $primaryColor;
			}
		}
	}

	&>.panel-heading {
		&>.panel-title {
			font-size: 24px;
		}
	}

	.panel-body {
		h4 {
			font-size: 48px;
			font-weight: normal;
			font-family: $bodyText;
			padding-bottom: 10px;
			margin-bottom: 18px;

			sup {
				color: $defaultColorDarkest;
				font-size: 24px;
			}
		}

		h5 {
			padding-top: 18px;
			margin-top: 18px;
			margin-bottom: 14px;
		}

		p {
			.icon {
				padding-right: 10px;
			}

			font-size: 16px;

			&.all {
				font-size: 13px;
			}
		}
	}
}

/* General styles for all menus */
.cbp-spmenu {
	background: #47a3da;
	position: fixed;

	h3 {
		color: #afdefa;
		font-size: 1.9em;
		padding: 20px;
		margin: 0;
		font-weight: 300;
		background: #0d77b6;
	}

	a {
		display: block;
		color: #fff;
		font-size: 1.1em;
		font-weight: 300;

		&:hover {
			background: #258ecd;
		}

		&:active {
			background: #afdefa;
			color: #47a3da;
		}
	}
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;

	a {
		border-bottom: 1px solid #258ecd;
		padding: 1em;
	}
}


.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;

	h3 {
		height: 100%;
		width: 20%;
		float: left;
	}

	a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid #258ecd;
	}
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;

	&.cbp-spmenu-open {
		left: 0px;
	}
}

.cbp-spmenu-right {
	right: -240px;

	&.cbp-spmenu-open {
		right: 0px;
	}
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media (max-width: 991px) {
	.points {
		.point-block {
			border-right: none;
			border-bottom: 1px solid $stripeAccentColor;
			padding-bottom: 30px;
			margin-bottom: 30px;

			i {
				display: block;
				margin-bottom: 20px;
			}

			h4 {
				margin-bottom: 15px;
			}

			p {
				font-size: 14px;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0px;
				margin-bottom: 0px;
			}
		}
	}
}
