<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Basic</h3>
				</div>
				<div class="panel-body">
					<h4>$5 <sup>/ month</sup></h4>
				 	<p><span class="glyphicon glyphicon-ok"></span> 1 active project</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> 5 members</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> 1 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Database backups</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Easy data export</p>
				 	<hr>
				 	<a class="btn btn-primary">Sign Up</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Standard</h3>
				</div>
				<div class="panel-body">
					<h4>$15 <sup>/ month</sup></h4>
				 	<p><span class="glyphicon glyphicon-ok"></span> 10 active projects</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> Unlimited members</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> 5 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Database backups</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Easy data export</p>
				 	<hr>
				 	<a class="btn btn-primary">Sign Up</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-success">
				<div class="panel-heading">
				  <h3 class="panel-title">Advanced</h3>
				</div>
				<div class="panel-body">
					<h4>$25 <sup>/ month</sup></h4>
				 	<p><span class="glyphicon glyphicon-ok"></span> 50 active projects</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> Unlimited members</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> 10 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Database backups</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Easy data export</p>
				 	<hr>
				 	<a class="btn btn-success">Sign Up</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Professional</h3>
				</div>
				<div class="panel-body">
					<h4>$50 <sup>/ month</sup></h4>
				 	<p><span class="glyphicon glyphicon-ok"></span> 100 active projects</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> Unlimited members</p>
				 	<p><span class="glyphicon glyphicon-ok"></span> 30 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Database backups</p>
				 	<p class="all"><span class="glyphicon glyphicon-ok"></span> Easy data export</p>
				 	<hr>
				 	<a class="btn btn-primary">Sign Up</a>
				</div>
			</div>
		</div>
	  </div>
	</div>
</section>
