<section class="section">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-3">
			{{#issue-panel title="hello" type="success"}}
				Hello.
			{{/issue-panel}}
		</div>
		<div class="col-lg-3">
			{{#issue-panel title="hello" type="primary"}}
				Hello.
			{{/issue-panel}}
		</div>
		<div class="col-lg-3">
			{{#issue-panel title="hello" type="warning"}}
				Hello.
			{{/issue-panel}}
		</div>
		<div class="col-lg-3">
			{{#issue-panel title="hello" type="danger"}}
				Hello.
			{{/issue-panel}}
		</div>
	  </div>
	</div>
</section>