<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-6">
	    	<h2>Stabilize Your Workflow.</h2>
	    	<p class="callout">
	    		Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur.
	    	</p>
	    	<p class="callout">
		    	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. 
		    </p>
	    </div>
	    <div class="col-lg-6 align-right">
	    	<img src="assets/img/mac.png" />
	    </div>
	  </div>
	</div>
</section>
<section class="section striped">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-6">
	    	<img src="assets/img/laptop.png" />
	    </div>
	    <div class="col-lg-6">
	    	<h2>Another Great Point.</h2>
	    	<p class="callout">
	    		Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur.
	    	</p>
	    </div>
	  </div>
	</div>
</section>
<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	    	<a class="btn btn-primary">Test</a>
			<a class="btn btn-success">Test</a>
			<a class="btn btn-info">Test</a>
			<a class="btn btn-warning">Test</a>
			<a class="btn btn-danger">Test</a>
	    </div>
	  </div>
	</div>
</section>
