<section class="section">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-12 align-center section-header">
	  		<h1>Free 14 Day Trial. No Credit Card Required.</h1>
	  		<hr>
	  		<h2>No commitment. Cancel anytime.
	  	</div>
	  </div>
	</div>
</section>

<section class="section striped">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Basic</h3>
				</div>
				<div class="panel-body">
					<h4>$5 <sup>/ month</sup></h4>
				 	<p><span class="icon icon-ok"></span> 1 active project</p>
				 	<p><span class="icon icon-ok"></span> 5 members</p>
				 	<p><span class="icon icon-ok"></span> 1 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="icon icon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="icon icon-ok"></span> Database backups</p>
				 	<p class="all"><span class="icon icon-ok"></span> Easy data export</p>
				 	<hr>
				 	{{#link-to 'auth.signup' class="btn btn-primary"}}Free Trial <i class="icon-double-angle-right"></i>{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Standard</h3>
				</div>
				<div class="panel-body">
					<h4>$15 <sup>/ month</sup></h4>
				 	<p><span class="icon icon-ok"></span> 10 active projects</p>
				 	<p><span class="icon icon-ok"></span> Unlimited members</p>
				 	<p><span class="icon icon-ok"></span> 5 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="icon icon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="icon icon-ok"></span> Database backups</p>
				 	<p class="all"><span class="icon icon-ok"></span> Easy data export</p>
				 	<hr>
				 	{{#link-to 'auth.signup' class="btn btn-primary"}}Free Trial <i class="icon-double-angle-right"></i>{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-success">
				<div class="panel-heading">
				  <h3 class="panel-title">Advanced</h3>
				</div>
				<div class="panel-body">
					<h4>$25 <sup>/ month</sup></h4>
				 	<p><span class="icon icon-ok"></span> 50 active projects</p>
				 	<p><span class="icon icon-ok"></span> Unlimited members</p>
				 	<p><span class="icon icon-ok"></span> 10 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="icon icon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="icon icon-ok"></span> Database backups</p>
				 	<p class="all"><span class="icon icon-ok"></span> Easy data export</p>
				 	<hr>
				 	{{#link-to 'auth.signup' class="btn btn-success"}}Free Trial <i class="icon-double-angle-right"></i>{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-pricing panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Professional</h3>
				</div>
				<div class="panel-body">
					<h4>$50 <sup>/ month</sup></h4>
				 	<p><span class="icon icon-ok"></span> 100 active projects</p>
				 	<p><span class="icon icon-ok"></span> Unlimited members</p>
				 	<p><span class="icon icon-ok"></span> 30 GB file storage</p>
				 	<h5>All plans include:</h5>
				 	<p class="all"><span class="icon icon-ok"></span> SSL encrpytion</p>
				 	<p class="all"><span class="icon icon-ok"></span> Database backups</p>
				 	<p class="all"><span class="icon icon-ok"></span> Easy data export</p>
				 	<hr>
				 	{{#link-to 'auth.signup' class="btn btn-primary"}}Free Trial <i class="icon-double-angle-right"></i>{{/link-to}}
				</div>
			</div>
		</div>
	  </div>
	</div>
</section>

<section class="section faq">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-12">
	  		<h4>What can I use during the free trial?</h4>
	  		<p>Once you pick a plan to test the free trial, you'll recieve exactly what's listed in the plan, free for the first two weeks. Nothing is different about the free trial and the paid account, so you can try out every last part of Tranquility for free. Once you reach the end of the free trial, you'll be prompted to enter your credit card to continue using the site. We'll make sure to remind you a few days in advance so there's no lapse in service.</p>
	  		<h4>What do you mean by "active" projects?</h4>
	  		<p>Each plan has a number of "active" projects included in the plan. An active project is a project that is currently being worked on. Once you complete a project, you can choose to archive it. This way you will keep all the data from the project, but no users will be able to contribute to it anymore, unless it is re-activated. While it's in an archived state, a project does not count towards your number of total active projects.</p>
	  		<h4>What browsers do you support?</h4>
	  		<p>We officially support all modern browsers, including current versions of Chrome, Safari, Opera, and Internet Explorer. Internet Explorer 9 and up is officially supported, although older versions may continue to work with Tranquility.</p>
	  		<h4>What happens if I decide to cancel?</h4>
	  		<p>If you cancel prior to the free trial being over, you're all set. We won't bother you, unless you come back to try us out again. If you've begun paying for our service, it's also just as easy to cancel. We'll pro-rate the monthly charge so you only have to pay for what you used, and there's no commitment, so there's no cancellation fees.</p>
	  	</div>
	  </div>
	</div>
</section>
